.sfh-wrapper {
  margin: auto 0;
  padding: 80px 0;
}

.sfh-title {
  font-size: 14px;
  text-transform: uppercase;
  color: $darkGray;
  letter-spacing: 0.1em;
}

.sfh-name {
  font-size: 36px;
}

.sfh-copy {
  font-size: 18px;
}
