// breakpoints
$bp-sm: 400px;
$bp-md: 800px;
$bp-lg: 1500px;

// colors
$white: #fff;
$black: #000;
$black8:  #1d1d1d;
$black16: #333;
$primaryCol: #666;
$primaryColHover: #ddd;
$secondaryCol: #b6b6b6;
$secondaryColLight: #e7e7e7;
$darkGray: #9b9da1;

//button colors
$button-yellow: #edf000;
$button-red: #f15640;
$button-teal: #27c9b8
