@font-face {
  font-family: "Roboto Light";
  src: url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Light.eot");
  src: url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Light.eot#iefix") format("embedded-opentype"), url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Light.woff2") format("woff2"), url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Light.woff") format("woff"), url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Light.ttf") format("opentype");
}

@font-face {
  font-family: "Roboto Regular";
  src: url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Regular.eot");
  src: url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Regular.eot#iefix") format("embedded-opentype"), url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Regular.woff2") format("woff2"), url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Regular.woff") format("woff"), url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Regular.ttf") format("opentype");
}

@-webkit-keyframes animateIcon {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.6) translateY(-8px);
            transform: scale(0.6) translateY(-8px);
  }
  100% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    opacity: 1;
  }
}

@keyframes animateIcon {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.6) translateY(-8px);
            transform: scale(0.6) translateY(-8px);
  }
  100% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes animateToolBoxTextRight {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8) translateY(-8px) translateX(-285px);
            transform: scale(0.8) translateY(-8px) translateX(-285px);
  }
  25% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0px) translateX(-285px);
            transform: scale(1) translateY(0px) translateX(-285px);
  }
  70% {
    opacity: 1;
    -webkit-transform: translateX(-285px);
            transform: translateX(-285px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
}

@keyframes animateToolBoxTextRight {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8) translateY(-8px) translateX(-285px);
            transform: scale(0.8) translateY(-8px) translateX(-285px);
  }
  25% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0px) translateX(-285px);
            transform: scale(1) translateY(0px) translateX(-285px);
  }
  70% {
    opacity: 1;
    -webkit-transform: translateX(-285px);
            transform: translateX(-285px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
}

@-webkit-keyframes animateToolBoxTextLeft {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8) translateY(-8px) translateX(285px);
            transform: scale(0.8) translateY(-8px) translateX(285px);
  }
  25% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0px) translateX(285px);
            transform: scale(1) translateY(0px) translateX(285px);
  }
  70% {
    opacity: 1;
    -webkit-transform: translateX(285px);
            transform: translateX(285px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
}

@keyframes animateToolBoxTextLeft {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8) translateY(-8px) translateX(285px);
            transform: scale(0.8) translateY(-8px) translateX(285px);
  }
  25% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(0px) translateX(285px);
            transform: scale(1) translateY(0px) translateX(285px);
  }
  70% {
    opacity: 1;
    -webkit-transform: translateX(285px);
            transform: translateX(285px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #4d4d4d;
}

.primary-nav {
  background-color: #333;
  overflow: hidden;
}

.nav-item-link {
  font-family: "Roboto Regular", arial, verdana, sans-serif;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav-item-link:hover {
  background-color: #f2f2f2;
  color: #000;
}

.nav-item-link.active {
  background-color: #fff;
  color: #333;
}

.toolbox-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

@media screen and (min-width: 1280px) {
  .toolbox-wrapper {
    position: fixed;
    width: 322px;
    top: 190px;
    right: -240px;
    left: auto;
  }
}

.toolbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1280px) {
  .toolbox {
    position: absolute;
  }
}

.toolbox-item {
  list-style: none;
  width: 33.33%;
}

@media screen and (min-width: 600px) {
  .toolbox-item {
    width: 16.661%;
  }
}

@media screen and (min-width: 1280px) {
  .toolbox-item {
    width: 100%;
  }
}

.toolbox-item:first-child .icon-text-wrapper {
  border-radius: none;
}

@media screen and (min-width: 1280px) {
  .toolbox-item:first-child .icon-text-wrapper {
    border-top-right-radius: 37px;
    border-top-left-radius: 37px;
  }
}

.toolbox-item:last-child .icon-text-wrapper {
  border-radius: none;
}

@media screen and (min-width: 1280px) {
  .toolbox-item:last-child .icon-text-wrapper {
    border-bottom-right-radius: 37px;
    border-bottom-left-radius: 37px;
  }
}

.toolbox-item:hover .toolbox-heading-wrapper {
  -webkit-transform: translateX(-285px);
          transform: translateX(-285px);
  opacity: 1;
}

.toolbox-item:nth-child(1) .toolbox-heading-wrapper,
.toolbox-item:nth-child(1) .toolbox-icon-svg {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.toolbox-item:nth-child(2) .toolbox-heading-wrapper,
.toolbox-item:nth-child(2) .toolbox-icon-svg {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.toolbox-item:nth-child(3) .toolbox-heading-wrapper,
.toolbox-item:nth-child(3) .toolbox-icon-svg {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.toolbox-item:nth-child(4) .toolbox-heading-wrapper,
.toolbox-item:nth-child(4) .toolbox-icon-svg {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.toolbox-item:nth-child(5) .toolbox-heading-wrapper,
.toolbox-item:nth-child(5) .toolbox-icon-svg {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.toolbox-item:nth-child(6) .toolbox-heading-wrapper,
.toolbox-item:nth-child(6) .toolbox-icon-svg {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.toolbox-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.icon-text-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  padding: 5px;
  height: 75px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

@media screen and (min-width: 1280px) {
  .icon-text-wrapper {
    width: 75px;
    border-right: none;
  }
}

.toolbox-icon-svg {
  fill: #d7302c;
  margin: auto;
  width: 40px;
  height: 40px;
  -webkit-animation: animateIcon 500ms ease-in-out backwards;
          animation: animateIcon 500ms ease-in-out backwards;
}

.toolbox-icon-text {
  width: 100%;
  font-family: "Roboto Regular", arial, verdana, sans-serif;
  font-size: 13px;
  text-decoration: none;
  margin: 0 auto;
  padding-top: 10px;
  color: #d7302c;
  display: block;
}

@media screen and (min-width: 1280px) {
  .toolbox-icon-text {
    width: 70px;
    display: none;
  }
}

.toolbox-heading-wrapper {
  display: none;
}

@media screen and (min-width: 1280px) {
  .toolbox-heading-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 200px;
    border-radius: 25px;
    background: none;
    -webkit-transition: -webkit-transform 500ms ease-in-out;
    transition: -webkit-transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
    -webkit-animation: animateToolBoxTextRight 2500ms ease-in-out backwards;
            animation: animateToolBoxTextRight 2500ms ease-in-out backwards;
  }
}

.toolbox-heading-text {
  font-family: "Roboto Regular", arial, verdana, sans-serif;
  font-size: 14px;
  display: block;
  color: #d7302c;
  margin: auto 4px auto;
  width: auto;
  height: 45px;
  line-height: 40px;
  background-color: #fff;
  padding: 0 20px;
  border-radius: 25px;
}

/* Remove the below comment which will import the file module-toolbox-pill-left and override the pill toolbox positioned right to left */
/*  Please comment out line 15 and remove the below comment (line 18) which will import the file module-toolbox-circle and override the floating toolbox pills to circles */
/* The below scss file is a combination of all 3 modules above which will automatically convert the pills to circle and postion toolbox to left. Remove the comment below (line 21) to see it live */
/*# sourceMappingURL=production.css.map */