@font-face {
  font-family: "Roboto Light";
  src: url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Light.eot");
  src: url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Light.eot#iefix") format("embedded-opentype"), url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Light.woff2") format("woff2"), url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Light.woff") format("woff"), url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Light.ttf") format("opentype");
}

@font-face {
  font-family: "Roboto Regular";
  src: url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Regular.eot");
  src: url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Regular.eot#iefix") format("embedded-opentype"), url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Regular.woff2") format("woff2"), url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Regular.woff") format("woff"), url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Regular.ttf") format("opentype");
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  display: block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1500px;
}

.header-wrapper {
  height: 60px;
  background-color: #e40017;
}

.sft-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 800px) {
  .sft-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .sft-item:nth-child(2n+1) .sft-image-wrapper {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media screen and (min-width: 800px) {
  .sft-item .sft-image-wrapper {
    width: 50%;
  }
}

.sft-item .sft-image {
  max-width: 100%;
}

.sft-item .sft-text-wrapper {
  text-align: center;
}

@media screen and (min-width: 800px) {
  .sft-item .sft-text-wrapper {
    width: 50%;
  }
}

.sft-item .sft-heading {
  margin: 20px;
  font-family: "Roboto Regular", arial, verdana, sans-serif;
  font-size: 24px;
}

.sft-item .sft-text {
  margin: 20px;
  font-family: "Roboto Light", arial, verdana, sans-serif;
  font-size: 16px;
}

.section-feature-heading-wrapper {
  background-color: #f2f2f2;
  text-align: center;
}

.section-feature-heading-wrapper .sfh-wrapper {
  max-width: 820px;
  margin: auto;
  padding: 80px 0;
}

.section-feature-heading-wrapper .sfh-title {
  font-family: "Roboto Regular", arial, verdana, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #9B9DA1;
  letter-spacing: 0.1em;
}

.section-feature-heading-wrapper .sfh-name {
  font-family: "Roboto Regular", arial, verdana, sans-serif;
  font-size: 36px;
}

.section-feature-heading-wrapper .sfh-copy {
  font-family: "Roboto Light", arial, verdana, sans-serif;
  font-size: 18px;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

@supports (grid-area: auto) {
  .gallery {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    -ms-grid-columns: (minmax(25%, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  }
  @media screen and (min-width: 400px) {
    .gallery {
      -ms-grid-columns: (minmax(20%, 1fr))[auto-fill];
          grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    }
  }
}

.gallery-item {
  width: 100%;
  margin-bottom: 2px;
}

@media screen and (min-width: 800px) {
  .gallery-item {
    width: 24%;
  }
}

@supports (grid-area: auto) {
  .gallery-item {
    width: auto;
    margin: 0;
  }
  .gallery-item-1, .gallery-item-8 {
    grid-column: auto / span 2;
    grid-row: auto / span 2;
  }
}

.gallery-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
}
/*# sourceMappingURL=production.css.map */