@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url("../fonts/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
}

img {
  display: block;
}

.header-wrapper {
  height: 60px;
  background-color: #e40017;
}

.sft-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 800px) {
  .sft-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .sft-item:nth-child(2n+1) .sft-image-wrapper {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (min-width: 800px) {
  .sft-item .sft-image-wrapper {
    width: 50%;
  }
}

.sft-item .sft-image {
  max-width: 100%;
}

.sft-item .sft-text-wrapper {
  text-align: center;
}

@media (min-width: 800px) {
  .sft-item .sft-text-wrapper {
    width: 50%;
  }
}

.sft-item .sft-heading {
  margin: 20px;
  font-family: "Roboto Regular", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-weight: 400;
  font-size: 24px;
}

.sft-item .sft-text {
  margin: 20px;
  font-family: "Roboto Light", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-weight: 300;
  font-size: 16px;
}

.section-feature-heading-wrapper {
  background-color: #f2f2f2;
  text-align: center;
}

.section-feature-heading-wrapper .sfh-wrapper {
  max-width: 820px;
  margin: auto;
  padding: 80px 0;
}

.section-feature-heading-wrapper .sfh-title {
  font-family: "Roboto Regular", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #9B9DA1;
  letter-spacing: 0.1em;
}

.section-feature-heading-wrapper .sfh-name {
  font-family: "Roboto Regular", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-weight: 400;
  font-size: 36px;
}

.section-feature-heading-wrapper .sfh-copy {
  font-family: "Roboto Light", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-weight: 300;
  font-size: 18px;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 0;
  margin-bottom: 50px;
}

@supports (grid-area: auto) {
  .gallery {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    -ms-grid-columns: (minmax(20%, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  }
}

.gallery-item {
  width: 24.475%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

.gallery-item:nth-child(n) {
  margin-right: 0.7%;
}

.gallery-item:nth-child(4n) {
  margin-right: 0;
}

.gallery-item:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 65%;
}

@supports (grid-area: auto) {
  .gallery-item {
    margin: 0;
    width: 100%;
  }
  .gallery-item-1, .gallery-item-8 {
    grid-column: auto / span 2;
    grid-row: auto / span 2;
    height: 100%;
    width: 100%;
  }
}

.gallery-image {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: auto;
  height: 260px;
}

@supports ((-o-object-fit: cover) or (object-fit: cover)) {
  .gallery-image {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    height: 100%;
    width: 100%;
  }
  .gallery-image-large {
    grid-column: auto / span 2;
    grid-row: auto / span 2;
    width: 100%;
    height: 100%;
  }
}
/*# sourceMappingURL=production.css.map */