@mixin gridMaker($numCol, $marginRight, $marginBottomPx) {
	width: (100% - (($numCol - 1) * $marginRight)) / $numCol;
	margin-bottom: $marginBottomPx;

	&:nth-child(n) {
		margin-right: $marginRight;
	}

	&:nth-child(#{$numCol}n) {
		margin-right: 0;
	}
}