.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;

  @supports (grid-area: auto) {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill,minmax(25%, 1fr));

    @include respond-screen($bp-sm) {
      grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    }
  }

  &-item {
    width: 100%;
    margin-bottom: 2px;

    @include respond-screen($bp-md) {
      width: 24%;
    }

    @supports (grid-area: auto) {
      width: auto;
      margin: 0;

      &-1, &-8 {
        grid-column: auto / span 2;
        grid-row: auto / span 2;
      }
    }
  }

  &-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
  }
}