// breakpoints
$bp-sm: 400px;
$bp-md: 800px;
$bp-lg: 1500px;

// colors
$white: #fff;
$black: #000;
$red: #e40017;
$green: #4CAF50;
$lightGray: #f2f2f2;
$darkGray: #9B9DA1;
$black8:  #1d1d1d;
$black16: #333;
