@keyframes animateIcon {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(-8px);
  }

  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

@keyframes animateToolBoxTextRight {
  0% {
    opacity: 0;
    transform: scale(0.8) translateY(-8px) translateX(-285px);
  }

  25% {
    opacity: 1;
    transform: scale(1) translateY(0px) translateX(-285px);
  }

  70% {
    opacity: 1;
    transform: translateX(-285px);
  }

  100% {
    opacity: 0;
    transform: translateX(50px);
  }
}

@keyframes animateToolBoxTextLeft {
  0% {
    opacity: 0;
    transform: scale(0.8) translateY(-8px) translateX(285px);
  }

  25% {
    opacity: 1;
    transform: scale(1) translateY(0px) translateX(285px);
  }

  70% {
    opacity: 1;
    transform: translateX(285px);
  }

  100% {
    opacity: 0;
    transform: translateX(-50px);
  }
}
