.toolbox-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;

  @include respond-screen($bp-md) {
    position: fixed;
    width: 400px;
    top: 200px;
    right: -315px;
    left: auto;
  }
}

.toolbox {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  @include respond-screen($bp-md) {
    position: absolute;
  }
}

.toolbox-item {
  list-style: none;
  width: 33.33%;

  &:first-child .icon-text-wrapper {
    border-top-right-radius: 37px;
    border-top-left-radius: 37px;
  }

  &:last-child .icon-text-wrapper {
    border-bottom-right-radius: 37px;
    border-bottom-left-radius: 37px;
  }

  @include respond-screen($bp-sm) {
    width: 16.661%;
  }

  @include respond-screen($bp-md) {
    width: 100%;
  }

  &:hover {
    .icon-text-wrapper {
      background-color: $white;
    }

    .toolbox-heading-wrapper {
      transform: translateX(-300px);
    }
  }
}

.toolbox-item-link {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  text-decoration: none;
  color: $white;
}

.icon-text-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $white;
  padding: 5px;
  height: 75px;
  border-bottom: 1px solid $secondaryCol;

  @include respond-screen($bp-md) {
    width: 70px;
  }
}

.toolbox-icon-svg {
  fill: $primaryColHover;
  margin: auto;
  width: 40px;
  height: 40px;
}

.toolbox-icon-text {
  width: 100%;
  @include primaryFontStack;
  font-size: 13px;
  text-decoration: none;
  margin: 0 auto;
  padding-top: 10px;
  color: $white;

  @include respond-screen($bp-md) {
    width: 70px;
    display: none;
  }
}

.toolbox-heading-wrapper {
  display: none;

  @include respond-screen($bp-md) {
    display: block;
    background-color: $white;
    width: auto;
    height: 45px;
    border-radius: 25px;
    margin: auto 15px;
    padding: 0 20px;
    transition: transform 350ms ease-in-out;
  }
}

.toolbox-heading-text {
  @include primaryFontStack;
  font-size: 14px;
  display: inline-block;
  color: $primaryColHover;
  margin: 15px auto;
}
