@font-face {
  font-family: "Roboto Light";
  src: url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Light.eot");
  src: url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Light.eot#iefix") format("embedded-opentype"), url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Light.woff2") format("woff2"), url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Light.woff") format("woff"), url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Light.ttf") format("opentype");
}

@font-face {
  font-family: "Roboto Regular";
  src: url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Regular.eot");
  src: url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Regular.eot#iefix") format("embedded-opentype"), url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Regular.woff2") format("woff2"), url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Regular.woff") format("woff"), url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/carsearch/webfonts/Roboto-Regular.ttf") format("opentype");
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
}

.primary-nav {
  background-color: #333;
  overflow: hidden;
}

.nav-item-link {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav-item-link:hover {
  background-color: #f2f2f2;
  color: #000;
}

.nav-item-link.active {
  background-color: #4CAF50;
  color: #fff;
}

.toolbox-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.toolbox-wrapper:hover {
  -webkit-transform: none;
          transform: none;
}

@media screen and (min-width: 1280px) {
  .toolbox-wrapper {
    position: fixed;
    width: 400px;
    top: 200px;
    right: -315px;
    left: auto;
    -webkit-transition: -webkit-transform 250ms ease-in;
    transition: -webkit-transform 250ms ease-in;
    transition: transform 250ms ease-in;
    transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
  }
  .toolbox-wrapper:hover {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
}

.toolbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1280px) {
  .toolbox {
    position: absolute;
  }
}

.toolbox-item {
  list-style: none;
  width: 33.33%;
}

@media screen and (min-width: 600px) {
  .toolbox-item {
    width: 16.661%;
  }
}

@media screen and (min-width: 1280px) {
  .toolbox-item {
    width: 100%;
  }
}

.toolbox-item:hover .icon-text-wrapper {
  background-color: #bc271a;
}

.toolbox-item:hover .toolbox-heading-wrapper {
  background-color: #404040;
}

.toolbox-item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.icon-text-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #d8312d;
  padding: 5px;
  height: 85px;
  border-right: 1px solid #eb4d55;
  border-bottom: 1px solid #eb4d55;
}

@media screen and (min-width: 1280px) {
  .icon-text-wrapper {
    width: 85px;
  }
}

.toolbox-icon-svg {
  fill: #fff;
  margin: auto;
  width: 40px;
  height: 40px;
}

.toolbox-icon-text {
  width: 100%;
  font-family: "Roboto Regular", arial, verdana, sans-serif;
  font-size: 13px;
  text-decoration: none;
  margin: 0 auto;
  padding-top: 10px;
  color: #fff;
}

@media screen and (min-width: 1280px) {
  .toolbox-icon-text {
    width: 70px;
  }
}

.toolbox-heading-wrapper {
  display: none;
}

@media screen and (min-width: 1280px) {
  .toolbox-heading-wrapper {
    display: block;
    background-color: #333;
    width: 300px;
    border-bottom: 1px solid #4d4d4d;
  }
}

.toolbox-heading-text {
  font-family: "Roboto Regular", arial, verdana, sans-serif;
  font-size: 16px;
  display: inline-block;
  color: #fff;
  margin: 33px auto;
  width: 240px;
  text-align: left;
}

/* Remove the below comment which will import the file module-toolbox-left and override the floating toolbox positioned right to left */
/*# sourceMappingURL=production.css.map */