.toolbox-wrapper {

    position: relative;
    top: 0;
    left: 0;
    width: 100%;

    &:hover {
        transform: none;
    }

    @include respond-screen ($bp-md){
        position: fixed;
        width: 400px;
        top: 100px;
        right: -300px;
        left: auto;
        transition: transform 250ms ease-in;
    
        &:hover {
            transform: translateX(-300px);
        }
    }
}

.toolbox {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    
    @include respond-screen ($bp-md){
        position: absolute;
        padding: 0;
        margin: 0;
    }
}

.toolbox-item {
    list-style: none;

    &:hover{
      .icon-text-wrapper{
        background-color: $primaryColHover;
      }

      .toolbox-heading-wrapper  {
        background-color: $secondaryColHover;
      }
    }
}

.toolbox-item-link {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    text-decoration: none;
    color: $white;
}

.icon-text-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $primaryCol;
    padding: 5px;
    width: 90px;
    height: 90px;
    border-bottom: 1px solid $primaryColLight;
}

.toolbox-icon-svg {
    fill: $white;
    margin: auto;
    width: 40px;
    height: 40px;
}

.toolbox-icon-text {
    @include primaryFontStack;
    font-size: 14px;
    text-decoration: none;
    margin: 0 auto;
    padding-top: 10px;
    color: $white;
    width: 70px;
}

.toolbox-heading-wrapper {
    display: none;

    @include respond-screen ($bp-md){
        display: block;
        background-color: $secondaryCol;
        width: 300px;
        border-bottom: 1px solid $secondaryColLight;
    }
}

.toolbox-heading-text {
    @include primaryFontStack;
    font-size: 16px;
    display: inline-block;
    color: $white;
    margin: 40px auto;
    width: 240px;
    text-align: left;
}