// breakpoints
$bp-sm: 600px;
$bp-md: 1280px;
$bp-lg: 1500px;

// colors
$white: #fff;
$black: #000;
$black8:  #1d1d1d;
$black16: #333;
$green: #4CAF50;
$lightGray: #f2f2f2;
$primaryCol: #d8312d;
$primaryColLight: #eb4d55;
$primaryColHover: #bc271a;
$secondaryCol: #333;
$secondaryColLight: #4d4d4d;
$secondaryColHover: #404040;
